body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }


body { background: #fff; }

/* optional Container STYLES */
.chart { height: 159px; width: 332px; margin: 5px; margin: 5px auto; border: 3px solid #DDD; border-radius: 1px; }
.node { color: #000000; border: 1px solid #000000; background: #fff; border-radius: 7px; text-decoration: none;}
.node p { font-size: 15px; line-height: 20px; height: 20px; /*font-weight: bold;*/ padding: 3px; margin: 0; }
